@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	background: ghostwhite;
}

h1 {
	text-align: center;
	color: #333;
}

form input,
form label {
	margin: 10px 200px;
	padding: 10px;
	font-size: 30px;
}

#button {
	margin: 10px 200px;
	padding: 10px;
	font-size: 30px;
}

form input:hover {
	background-color: mediumturquoise;
	/* Change this to the color you want */
}

form {
	text-align: center;
	font-weight: bold;
	margin: 20px;
	padding: 20px;
}

td, th {
	padding: 30px;
	/* Adjust as needed */
	margin: 10px;
	/* Adjust as needed */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}