@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: wheat;
}
h1 {
	text-align : center;
    color: #333;
}

form input, form label {
    margin: 10px 200px;
    padding: 10px;
}

form {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}